*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

:root {
  box-sizing: border-box;
  font-size: calc(1vw + .6em)
}

@media (min-width: 50em) {
  :root {
      font-size: 1.125em
  }
}

@media (min-width: 75em) {
  body {
      padding: 0 1.5em
  }
}