.u-padding-top-big {
  padding-top: 1em
}

.u-padding-top-med {
  padding-top: .8em
}

.u-padding-top-small {
  padding-top: .4em
}

.u-padding-bottom-big {
  padding-bottom: 1em
}

.u-padding-bottom-med {
  padding-bottom: .8em
}

.u-padding-bottom-small {
  padding-bottom: .4em
}

.u-center-text {
  text-align: center
}