$color-grey-dark: #444;
$color-grey-light: #eee;
$color-pink-light: #fcdcfc;  
$color-white: #fff;
$color-black: #000;

$color-primary: #250341;  
$color-primary-light: #4803b6;

$color-shadow-darkest: #1e0338;

$color-navlink-hover: #7724fb;
$color-card-text: #340284;
$color-card-button: #5c04e8;